@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #FDFFE2;
  --secondary-color: #83B4FF;
  --terciary-color: #5A72A0;
  --hover-color: #1A2130;

  --main-font: "Krona One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  
}

.header-logo{
  width: 64px;
  height: 64px;
}

.container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 5% 15%;
  margin: 10% 10%;
  gap: 64px;
  
}

.container-titulo{
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 30px;
}

#container-texto{
  max-width: 100%;
  width: 343px;
  max-height: 100px;
  height: 100px;
  resize: none;
  margin-bottom: 30px;
  font-size: 24px;
}

.container-interfaz{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  
}

.container-botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 15px;
  /* align-content: space-between;
  flex-wrap:wrap; */
}

.container-botones-warning{
  font-family: var(--secondary-font);
  font-size: 12px;
  display: flex;
  gap: 5px;
}

.container-resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container-resultado-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 313px; /* Ajustar según sea necesario */
  padding: 15px;
}

.container-resultado-texto-pantalla{
  font-size: 24px;
}

.container-botones-link{
  width: 343px;
  height: 67px;
  background-color: var(--terciary-color);
  text-align: center;
  align-content: center;
  font-size: 16px;
  font-family: var(--main-font);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 24px;
}

.btn-des{
  background-color: var(--primary-color);
  border: 1px solid var(--terciary-color);
  width: 341px;
  height: 65px;
}





/******************************FOOTER**************************************/
.footer{
  background-color: var(--secondary-color);
  padding: 24px;
  text-align: center;
  color: var(--terciary-color);
  font-family: var(--main-font);
  font-size: 0.5rem;
  font-weight: 400;
}