@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #FDFFE2;
  --secondary-color: #83B4FF;
  --terciary-color: #5A72A0;
  --hover-color: #1A2130;

  --main-font: "Krona One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  /* height: 100vh; */
}

.header-logo{
  width: 64px;
  height: 64px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
  gap: 82px;
}

.container-titulo{
  font-family: var(--main-font);
  text-align: center;
}
.container-interfaz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-botones{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-botones-warning{
  font-family: var(--secondary-font);
}

.container-resultado{
  display: flex;
  flex-direction: column;
}

.container-resultado-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-resultado-img{
  height: 70%;
  width: 70%;
}

.footer{
  background-color: var(--secondary-color);
  padding: 24px;
  text-align: center;
  color: var(--terciary-color);
  font-family: var(--main-font);
  font-size: 0.5rem;
  font-weight: 400;
}